.error-message {
  color: red;
  font-size: 0.875rem; // Adjust font size as needed
  margin-top: 0.25rem; // Optional: Add margin to separate the error message from input field
}

/* styles/overlayLoader.scss */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #ffffff; /* White spinner color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
